html {
   /* scroll-behavior: smooth; */
}
.body--overflow {
    height: 100%;
    overflow-y: hidden;
}
header {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.mobile-menu {
    top: -500px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.mobile-menu.active {
    top: 74px;
}
.hamburger-menu {
    position: relative;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .2s .1s ease-in-out;
}
.hamburger-bars {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 3px;
    background: #190F14;
    transition: background-color 90ms ease-in-out;
}

.hamburger-bars::before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    height: 3px;
    background: #190F14;
    transition: transform .2s .130ms ease-in-out;
}

.hamburger-bars::after {
    content: '';
    position: absolute;
    left: 0;
    top: 10px;
    width: 100%;
    height: 3px;
    background: #190F14;
    transition: transform .2s .130ms ease-in-out;
}
.hamburger--active .hamburger-bars {
    background-color: transparent;
}
.hamburger--active .hamburger-bars::before {
    transform: translateY(10px)  rotate(-45deg);
}

.hamburger--active .hamburger-bars::after {
    transform: translateY(-10px) rotate(45deg);
}

.top-section {
    background: url('img/Cupra_top-section.png');
    min-height: 85vh;
    background-position: 85% 100%;
    background-size: cover;
}

.splide__arrow {
    border-radius: 0px;
}

.slide-car::before{
    position: absolute;
    content: "";
    background: linear-gradient(to right, #F5F5F5 , transparent);
    height: 100%;
    width: 30%;
    left: 0;
    top: 0;
    opacity: 0.7;
    z-index: 1;
}
.slide-car::after{
    position: absolute;
    content: "";
    background: linear-gradient(to left, #F5F5F5 , transparent);
    height: 100%;
    width: 30%;
    right: 0;
    top: 0;
    opacity: 0.7;
    z-index: 1;
}

@media screen and (max-width: 1536px) {
    .slide-car::before {
        display: none;
    }
    .slide-car::after {
        display: none;
    }
}

   
#galeria .splide__pagination__page {
    border-radius: 0px;
    width: 20px;
    height: 4px;
    background-color: #474747;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

#galeria .splide__pagination__page.is-active {
    background-color: white;
    height: 4px;
    width: 16px;
}

.border-custom {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: gray;
    top: -20px;
}

.border-custom1 {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: gray;
    bottom: -20px;
}
 .baner-information {
     background: url('img/CUPRA-salon-(69)-1.jpg');
     background-size: cover;
     background-position: center;
 }

 .image-formentor {
     width: 100%;
     height: 30vh;
     background: url('img/CUPRA-FORMENTOR-4161.png');
     background-size: cover;
     background-position: center;
 }

 .options {
    width: auto;
    border: 1px solid #d1d5db;
    border-top: none;
 }
 
 .container__items {
    max-height: 0px;
    overflow: hidden;
    transition: all .4s ease-in-out;
    
 }

 .container__items--active {
    max-height: 1000px;
 }

 .item__selected {
    height: 100%;
    width: auto;
    font-size: 1.125rem;
    border: 1px solid #d1d5db;
 }

 .arrow--active {
     transform: rotate(180deg);
 }

 input[type="checkbox"] {
     -webkit-apperance: none;
     appearance: none;
     margin: none;
     font: inherit;
     min-width: 20px;
     width: 20px;
     height: 20px;
     border: 1px solid #D5D5D5;
     cursor: pointer;
     display: grid;
     place-content: center;
 }

 input[type="checkbox"]::before {
    content: "";
    width: 10px;
    height: 10px;
    transform: scale(0);
    transition: 0.1s ease-in-out;
    background-color: #8C8B8B;
 }

 input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

.success {
    width: 15px;
    height: 15px;
    background-color: #9fd649;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transition: 200ms ease-in-out;
}

.test--drive--card {
    left: -100%;
    transition: 0.5s ease-in-out;
}
.test--drive--active {
    left: 0;
}

.image__responsive {
    width: 100%;
    height: auto;
}
